Options +FollowSymLinks
RewriteEngine On
RewriteBase /

RewriteCond %{HTTP_HOST} (www\.)?estudiomoca\.com$ [NC]
RewriteRule ^(.*)$ https://www.estudiomoca.cl [R=301,L]

RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

